{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Are You Sure?</title>
    <link rel="stylesheet" type="text/css" href="{% static 'conf.css' %}">

</head>

<body>
    <div class="adj">
        <p class="r">Are You Sure?</p>
        <div class="teks">
            <ul style="list-style: none;">
                <li>{{msg_input.name}}</li>
                <li style="font-size: 20px;">"{{msg_input.message}}"</li>
            </ul>
        </div>
        <button><a class="btn btn-primary btn-lg" href="{% url 'App7:delete' pk=msg_input.pk %}" type="submit" role="button">No</a></button>
        <button><a class="btn light btn-lg" href="{% url 'App7:Index' %}" type="submit" role="button">Yes</a></button>
    </div>
</body>

</html>