{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Story7</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="form">
        <form action='' method="POST">
            {% csrf_token %}
            <ul style="list-style: none;">
                <li>Name <br>{{ frm.name }}</li>
                <br>
                <li>Message <br> {{ frm.message }}</li>
                <br>
                <button name="submit" type="submit" class="buttons">Submit</button>

            </ul>
        </form>
    </div>
    <div id=t ulisan>
        <h3>Messanges</h3>
        <div class="table">
            <table class="table1">
                {% for i in frm2%}
                <ul style="border-style: solid; border-color: white;list-style: none;border-width: thin;padding: 1em;">
                    <li>{{i.name}}</li>
                    <li>"{{i.message}}"</li>
                    <li style="font-size: 10px;">{{i.time}}</li>
                </ul>
                {% endfor %}
            </table>
        </div>
    </div>

</body>